# Default values for rtorrent.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

replicaCount: 1

image:
  repository: bryanalves/rtorrent
  tag: 0.0.3
  pullPolicy: IfNotPresent

service:
  type: ClusterIP
  port: 5000
  httpPort: 80

metricService:
  type: ClusterIP
  port: 9135
  annotations:
    prometheus.io/scrape: "true"
    prometheus.io/port: "9135"

ingressService:
  type: NodePort
  rtorrentPort: 57778
  dhtPort: 57779
  externalTrafficPolicy: Local
  #externalIPs: []

persistence:
  enabled: false
  #existingClaim:

resources: {}

nodeSelector: {}

tolerations: []

affinity: {}

extra_config: {}

extraVolumes: []
extraVolumeMounts: []
