apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ template "rtorrent.fullname" . }}
  labels:
    app: {{ template "rtorrent.name" . }}
    chart: {{ template "rtorrent.chart" . }}
    release: {{ .Release.Name }}
    heritage: {{ .Release.Service }}

data:
{{- with .Values.extraConfig }}
  rtorrent_extra.rc:
{{ toYaml . | indent 4 }}
{{- end }}

  nginx.conf: |
    server {
      listen 0.0.0.0:80;
      error_log /var/log/nginx/rtorrent.error_log;

      location /RPC2 {
        scgi_pass   127.0.0.1:5000;
        include     scgi_params;
      }
    }
